{% extends "layout.html" %}

{% block title %}
Confirm Delete
{% endblock %}

{% block content %}
  <div class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white rounded-lg p-4 w-1/2">
      <h1 class="text-center text-2xl mb-4">
        Are you sure that you want to delete?
      </h1>
      <form method="post">
        {% csrf_token %}
        <div class="flex justify-center">
          <button type="submit" class="bg-red-700 hover:bg-red-800 text-white font-medium rounded-full text-sm px-5 py-2.5 mr-2">Yes</button>
          <button type="button" class="bg-green-700 hover:bg-green-800 text-white font-medium rounded-full text-sm px-5 py-2.5"><a href="{% url 'tweet_list' %}">No</a></button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}